# .gitignore file 
#
# Add this file to the root of your git repo.  Name it .gitignore
#
# A .gitignore file will tell git which files and directories to ignore and
# not add to version control.


# EECS 485 Project 2
*.db
var/
node_modules/
cookies.txt
bundle.js


# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

# JavaScript
bundle.js
node_modules/
files_for_autograder_io/
*/var/*

# Virtual Machines
.vagrant/

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*
